name: Greetings

on:
  pull_request_target:
    types: [opened]
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  greeting:
    uses: kubestellar/infra/.github/workflows/reusable-greetings.yml@main
    permissions:
      issues: write
      pull-requests: write
