name: Reusable Image Scanning

on:
  workflow_call:
    inputs:
      dockerfile:
        description: 'Path to Dockerfile'
        required: false
        type: string
        default: 'Dockerfile'
      context:
        description: 'Docker build context'
        required: false
        type: string
        default: '.'
      severity:
        description: 'Trivy severity levels to report'
        required: false
        type: string
        default: 'CRITICAL,HIGH'

jobs:
  scan:
    name: Build and scan image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build image
        run: |
          docker build -f ${{ inputs.dockerfile }} -t local/image:${{ github.sha }} ${{ inputs.context }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@6c175e9c4083a92bbca2f9724c8a5e33bc2d97a5 # 0.30.0
        with:
          image-ref: 'local/image:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: ${{ inputs.severity }}

      - name: Upload Trivy scan results
        uses: github/codeql-action/upload-sarif@ce28f5bb42b7a9f2c824e633a3f6ee835bab6858 # v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
