name: Reusable Greetings

on:
  workflow_call:
    inputs:
      issue_message:
        description: 'Custom message for first-time issue contributors'
        required: false
        type: string
        default: |
          Thank you for contributing your first Issue to KubeStellar. We are delighted to have you in our Universe!

          To assign yourself to this issue, please use the slash command:
          ```
          /assign
          ```

          This will automatically assign the issue to you via our Prow bot. You can also use `/unassign` to remove yourself from an issue.

          Thank you for your interest in contributing to KubeStellar!
      pr_message:
        description: 'Custom message for first-time PR contributors'
        required: false
        type: string
        default: 'Thank you for submitting your first Pull Request to KubeStellar. We are delighted to have you in our Universe!'

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@1c4688942c71f71d4f5502a26ea67c331730fa4d
        continue-on-error: true
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          issue_message: ${{ inputs.issue_message }}
          pr_message: ${{ inputs.pr_message }}
